@layer base {
    :root {
        --clr-text: #eee;
        --clr-bg: #222;
        --clr-nav: #333;
        --clr-link: rgb(170, 170, 255);

        --content-width: 800px;
    }

    body {
        background-color: var(--clr-bg);
        color: var(--clr-text);
        font-family: "Quicksand";

        min-height: 100svh;

        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    .wrapper {
        max-width: var(--content-width);
        margin-inline: auto;
    }

    header {
        --_animationStartsAfter: 0vh;
        --_animationDistance: 250px;
        --_animationDistance: 75px;
        --_surfaceColorStart: var(--clr-bg);
        --_surfaceColorEnd: var(--clr-nav);
        --_shadowStart: 0 0 0 0 #000;
        --_shadowEnd: 0 0 15px 0 #000;

        background-color: var(--_surfaceColorStart);
        position: sticky;
        top: 0;
        box-shadow: var(--_shadowStart);
        z-index: 100;

        animation: stickyNav linear forwards;
        animation-timeline: view();
        animation-range-start: calc(100vh + var(--_animationStartsAfter));
        animation-range-end: calc(100vh + var(--_animationStartsAfter) + var(--_animationDistance));
    }

    @keyframes stickyNav {
        100% {
            background-color: var(--_surfaceColorEnd);
            box-shadow: var(--_shadowEnd);
        }
    }

    a {
        color: var(--clr-link);
    }

    nav {
        --_linkGap: 0.5rem;

        display: flex;
        flex-direction: row;
        align-items: center;

        gap: var(--_linkGap);

        max-width: var(--content-width);
        margin-inline: auto;

        padding: 20px 0;
    }

    nav ul {
        flex-grow: 1;
        list-style: none;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: var(--_linkGap);
    }

    nav > a {
        font-size: 2em;
    }

    nav a {
        color: var(--clr-text);
        text-decoration: none;
    }

    main > * {
        max-width: var(--content-width);
        margin-inline: auto;
    }

    section:has(.about.card) {
        --_cardPadding: 40px;
    }

    .about.card {
        max-width: var(--content-width);
        margin-inline: auto;

        margin-block: 50px;
        display: flex;
        flex-direction: column-reverse;
        border-radius: 1rem;

        min-height: 750px;

        background-color: var(--clr-nav);

        overflow: clip;

        border: var(--clr-nav) solid 2px;

        /* container-name: about-card; */
        container-type: inline-size;
    }

    @container (width > 550px) {
        .about.card {
            flex-direction: row-reverse;
            min-height: 500px;
        }

        .about.card:nth-child(odd) {
            flex-direction: row;
        }
    }

    @media (prefers-reduced-motion: no-preference) {
        .about.card {
            /* Default animation settings */
            translate: 0 200px;
            opacity: 0;
            filter: blur(6px);

            animation: reveal ease-out forwards;
            animation-timeline: view();
            animation-range-start: cover;
            animation-range-end: contain;
        }

        @keyframes reveal {
            100% {
                translate: 0 0;
                scale: 1;
                opacity: 1;
                filter: blur(0);
            }
        }
    }

    .about.card > * {
        flex: 1;
    }

    .about.card img {
        /* aspect-ratio: 3/4; */
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about.card .text * {
        margin: var(--_cardPadding);
    }

    .preview p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        overflow: clip;
    }
}
