@layer reset {
    html,
    body {
        scroll-behavior: auto;
    }
}

@layer base {
    .content-grid,
    .full-width {
        --_padding-inline: 2rem;
        --_content-max-width: 75ch;
        --_breakout-max-width: 85ch;

        --_breakout-size: calc((var(--_breakout-max-width) - var(--_content-max-width)) / 2);

        display: grid;
        grid-template-columns:
            [full-width-start] minmax(var(--_padding-inline), 1fr) [breakout-start] minmax(0, var(--_breakout-size)) [content-start] min(
                100% - (var(--_padding-inline) * 2),
                var(--_content-max-width)
            )
            [content-end] minmax(0, var(--_breakout-size)) [breakout-start] minmax(var(--_padding-inline), 1fr) [full-width-end];
    }

    :is(.content-grid, .full-width) > * {
        grid-column: content;
    }
    :is(.content-grid, .full-width) > .breakout {
        grid-column: breakout;
    }
    .content-grid > .full-width {
        grid-column: full-width;
    }

    :root {
        --clr-text: #eee;
        --clr-bg: #222;
        --clr-nav: #333;
        --clr-link: rgb(170, 170, 255);

        --content-width: 800px;
    }

    body {
        background-color: var(--clr-bg);
        color: var(--clr-text);
        font-family: "Quicksand";

        min-height: 100svh;

        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    header {
        --_linkGap: 0.5rem;

        --_animationStartsAfter: 111px;
        --_animationDistance: 100px;
        --_surfaceColorStart: transparent;
        --_surfaceColorEnd: var(--clr-nav);
        --_shadowStart: 0 0 0 0 #000;
        --_shadowEnd: 0 0 15px 0 #000;

        background-color: var(--_surfaceColorStart);
        position: sticky;
        top: -111px;
        box-shadow: var(--_shadowStart);
        z-index: 100;

        animation: stickyNav linear forwards;
        animation-timeline: view();
        animation-range-start: calc(100vh + var(--_animationStartsAfter));
        animation-range-end: calc(100vh + var(--_animationStartsAfter) + var(--_animationDistance));

        display: flex;
        flex-direction: column;
        /* align-items: center; */

        gap: var(--_linkGap);

        padding: 20px 0;
    }

    site-header {
        font-size: 2rem;
        height: var(--logoDisplay, auto);
        overflow: clip;
    }

    @keyframes stickyNav {
        0%,
        100% {
            --logoDisplay: 0;
            background-color: var(--_surfaceColorEnd);
        }
        100% {
            top: 0;
            box-shadow: var(--_shadowEnd);
        }
    }

    a {
        color: var(--clr-link);
    }

    nav {
        margin-top: 3px;
    }

    nav ul {
        flex-grow: 1;
        list-style: none;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--_linkGap);
    }

    nav > a {
        font-size: 2em;
    }

    nav a {
        color: var(--clr-text);
        text-decoration: none;
    }

    /* main > * {
    } */

    .overlay {
        border-width: 10px;
        border-style: solid;
        border-image-source: linear-gradient(hsl(0 0% 0% / 0.5) 0 0);
        border-image-slice: fill 1;
    }
    section.hero {
        background-image: url(/img/t-t.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 75%;
        padding-block: 6rem;
        min-height: calc(80vh);
        position: relative;
        isolation: isolate;
        z-index: 0;
    }
    section.hero > * {
        translate: 0 108px;
    }

    section:has(.about.card) {
        --_cardPadding: 40px;
    }

    .about.card {
        scroll-margin-top: 20rem;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column-reverse;
        border-radius: 1rem;

        min-height: 750px;

        background-color: var(--clr-nav);

        overflow: clip;

        border: var(--clr-nav) solid 2px;

        /* container-name: about-card; */
        container-type: inline-size;
    }

    @container (width > 550px) {
        .about.card {
            flex-direction: row-reverse;
            min-height: 500px;
        }

        .about.card:nth-child(odd) {
            flex-direction: row;
        }
    }

    .about.card {
        --index0: calc(var(--index) - 1); /* 0-based index */
        --reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
        --reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */

        /* Default animation settings */
        translate: 0 200px;
        opacity: 0;
        filter: blur(6px);

        animation: reveal ease-out forwards;
        animation-timeline: view();
        animation-range-start: -10px;
        animation-range-end: 75vh;
    }

    @keyframes reveal {
        100% {
            translate: 0 0;
            scale: 1;
            opacity: 1;
            filter: blur(0);
        }
    }

    .about.card > * {
        flex: 1;
    }

    .about.card img {
        /* aspect-ratio: 3/4; */
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about.card .text * {
        margin: var(--_cardPadding);
    }

    .preview p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        overflow: clip;
    }

    .preview:has(h2#meet-section-title) > div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(217px, 100%), 1fr));
        gap: 2rem;
    }
    .preview:has(h2#meet-section-title) article {
        padding: 2rem;
        background-color: var(--clr-nav);
    }
}
