@layer reset {
    html,
    body {
        scroll-behavior: auto;
    }
}

@layer global-var {
    :root {
        --clr-text: #eee;
        --clr-bg: #222;
        --clr-nav: hsl(0, 0%, 23.5%);
        /* --clr-nav: #444; */
        --clr-link: rgb(170, 170, 255);
    }
}

@layer base {
    body {
        background-color: var(--clr-bg);
        color: var(--clr-text);
        font-family: "Quicksand";

        min-block-size: 100dvh;

        display: grid;
        grid-template-rows: auto 1fr auto;
    }
    a {
        color: var(--clr-link);
    }

    h1,
    h2,
    h3 {
        letter-spacing: -0.01em;
    }

    nav ul {
        flex-grow: 1;
        list-style: none;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: var(--_linkGap);
    }

    nav a {
        color: var(--clr-text);
        text-decoration: none;
        position: relative;
    }
    nav a.active::after {
        content: "";
        position: absolute;
        background-color: var(--clr-text);
        inset: 0;
        top: 110%;
        bottom: -20%;
        border-radius: 100vh;
        view-transition-name: activeLink;
    }

    main {
        margin-block-start: 2rem;
    }

    article h1 {
        margin-block-end: 1rem;
    }
    @keyframes onload {
        from {
            translate: 0 50px;
            opacity: 0;
        }
    }

    /* section {
        margin-block-end: 5rem;
    } */
    .about.card {
        scroll-margin-top: 20rem;
        margin-block-end: 4rem;
        display: flex;
        flex-direction: column-reverse;
        border-radius: 1rem;

        min-block-size: 750px;

        background-color: var(--clr-nav);

        overflow: clip;

        border: var(--clr-nav) solid 3px;

        /* container-name: about-card; */
        container-type: inline-size;
    }

    @container (width > 550px) {
        .about.card {
            flex-direction: row-reverse;
            min-block-size: 500px;
        }

        .about.card:nth-child(odd) {
            flex-direction: row;
        }
    }
    .button {
        color: var(--clr-text);
        text-decoration: none;
        border: var(--clr-nav) 5px solid;
        width: fit-content;
        padding: 0.5rem 1rem;
        border-radius: 100vh;
        overflow: clip;
        position: relative;
        isolation: isolate;
    }
    .button::after,
    .button::before {
        content: "";
        position: absolute;
    }
    .button::after {
        inset: 0;
        top: 50%;
        z-index: 2;
    }
    .button::before {
        /* border-radius: 0; */
        inset: -5px;
        z-index: -1;
        background-color: var(--clr-nav);
        scale: 1 0;
        transform-origin: bottom;
        transition: scale 300ms ease;
    }
    .button:hover::before {
        transform-origin: top;
        scale: 1 1;
    }

    h1,
    h2,
    h3 {
        line-height: 1.1;
    }
    p {
        line-height: 1.4;
    }
    #meet-section-title {
        margin-block-end: 1rem;
    }
    #meet-section-title + ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(27.5ch, 100%), 1fr));
        gap: 2rem;
    }
    .musician-preview {
        min-height: 25rem;
        padding: 2rem;

        border-radius: 1rem;
        border: var(--clr-nav) solid 3px;

        background-image: var(--_src);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 20%;

        list-style: none;

        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 2rem;

        text-decoration: none;
        color: var(--clr-text);

        position: relative;
        isolation: isolate;
        overflow: clip;
        transition: all 600ms;
    }
    .musician-preview .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        gap: 2rem;
        translate: 0 5rem;
        isolation: isolate;
        transition: all 300ms 300ms;
    }
    .musician-preview .content::after {
        content: "";
        position: absolute;
        inset: -2rem;
        z-index: -1;
        background: linear-gradient(transparent, var(--clr-bg));
    }

    .musician-preview .content h3 {
        flex-basis: 0;
        width: fit-content;
        text-align: center;
        position: relative;
    }
    .musician-preview .content h3::after {
        content: "";
        position: absolute;
        inset: 0;
        top: calc(100% + 3px);
        bottom: -5px;
        border-radius: 100vh;
        translate: -150% 0;
        background-color: var(--clr-text);
        transition: all 300ms;
    }
    .musician-preview:hover .content h3::after {
        translate: 0 0;
        transition: all 300ms 300ms;
    }
    .musician-preview:hover {
        border: var(--clr-text) solid 3px;
    }
    .musician-preview:hover .content {
        translate: 0 0;
        transition: all 300ms;
    }

    footer {
        background-color: var(--clr-nav);
        padding: 1rem 2rem;
    }

    footer div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@layer utility {
    .content-grid,
    .full-width {
        --_padding-inline: 2rem;
        --_content-max-width: 75ch;
        --_breakout-max-width: 85ch;

        --_breakout-size: calc((var(--_breakout-max-width) - var(--_content-max-width)) / 2);

        display: grid;
        grid-template-columns:
            [full-width-start] minmax(var(--_padding-inline), 1fr) [breakout-start] minmax(0, var(--_breakout-size)) [content-start] min(
                100% - (var(--_padding-inline) * 2),
                var(--_content-max-width)
            )
            [content-end] minmax(0, var(--_breakout-size)) [breakout-start] minmax(var(--_padding-inline), 1fr) [full-width-end];
        grid-auto-rows: max-content;
    }

    :is(.content-grid, .full-width) > * {
        grid-column: content;
    }
    :is(.content-grid, .full-width) > .breakout {
        grid-column: breakout;
    }
    .content-grid > .full-width {
        grid-column: full-width;
    }

    section.hero {
        padding-block-end: 10rem;
        min-block-size: 80svh;
        /* isolation: isolate; */
        position: relative;
        align-content: end;
    }
    section.hero h1 {
        margin-block-end: 2rem;
    }
    section.hero p {
        --_lines: 1;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: var(--_lines); /* number of lines to show */
        line-clamp: var(--_lines);
        -webkit-box-orient: vertical;

        margin-block-end: 1rem;
    }
    section.hero > * {
        animation: onload 1s ease-out backwards;
        animation-delay: calc(1ms * var(--delay));
    }
    section.hero::before {
        content: "";
        position: absolute;
        inset: 0;
        top: -7rem;
        z-index: -1;
        background-image: url(/img/t-t.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 75%;
        filter: brightness(0.4);
        animation: parallax linear;
        animation-timeline: scroll();
    }
    @keyframes parallax {
        to {
            translate: 0 500px;
        }
    }
    section.hero::after {
        content: "south";
        position: absolute;
        inset-inline: 0;
        bottom: 0;
        translate: 0 50%;
        z-index: 3;
        text-align: center;
        place-content: end;
        font-family: "Material Symbols Rounded";
        font-size: 3rem;
        animation: blink 2s infinite alternate;
    }

    @keyframes blink {
        0% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }

    section:has(.about.card) {
        --_cardPadding: 40px;
    }
    .about.card {
        /* Default animation settings */
        translate: 0 200px;
        opacity: 0;
        filter: blur(6px);

        animation: reveal ease-out forwards;
        animation-timeline: view();
        animation-range-start: -10px;
        animation-range-end: 75vh;
    }

    .about.card > * {
        flex: 1;
    }

    .about.card img {
        /* aspect-ratio: 3/4; */
        inline-size: 100%;
        block-size: 100%;
        object-fit: cover;
    }

    .preview {
        padding-top: 5rem;
        z-index: 2;
        background-color: var(--clr-bg);
    }

    .about.card .text div {
        margin: var(--_cardPadding);
    }
    .about.card h2 {
        margin-bottom: 1rem;
    }
    @keyframes reveal {
        100% {
            translate: 0 0;
            scale: 1;
            opacity: 1;
            filter: blur(0);
        }
    }
}

@layer misc {
    header {
        --_linkGap: 0.5rem;

        --_animationStartsAfter: 111px;
        --_animationDistance: 100px;
        --_surfaceColorStart: transparent;
        --_surfaceColorEnd: var(--clr-nav);
        --_shadowStart: 0 0 0 0 #000;
        --_shadowEnd: 0 0 15px 0 #000;

        background-color: var(--_surfaceColorStart);
        position: sticky;
        top: -111px;
        box-shadow: var(--_shadowStart);
        z-index: 100;

        animation: stickyNav linear forwards;
        animation-timeline: view();
        animation-range-start: calc(100vh + var(--_animationStartsAfter));
        animation-range-end: calc(100vh + var(--_animationStartsAfter) + var(--_animationDistance));

        padding: 20px 0;

        view-transition-name: header;
    }

    @keyframes stickyNav {
        0%,
        100% {
            --_logoLinkDisplay: none;
            --_homeLinkDisplay: block;
            background-color: var(--_surfaceColorEnd);
        }
        100% {
            top: 0;
            box-shadow: var(--_shadowEnd);
        }
    }
}

#skip-nav-link {
    height: 0;
    overflow: clip;
    transition: all 250ms;

    interpolate-size: allow-keywords;
}
#skip-nav-link:focus {
    height: auto;
    overflow: clip;
}
